{% extends 'structure_short.html' %}

{% block formulario %}

<div class="col-lg-6">
    <div class="contact-form">
        <form id="product" action="{% url 'create-product' %}" method="POST" enctype = "multipart/form-data"> {% csrf_token %}
            <div class="container">
                <div class="col-lg-12">
                    <h4>Agrege su producto</h4>
                </div>
                {{form.as_p}}
            <div class="form-group">
              <fieldset>
                <button type="submit" id="form-submit" class="main-button-icon">Agregar producto</button>
              </fieldset>
            </div>
          </div>
        </form>
    </div>
</div>

{% endblock formulario %}
