{% extends 'structure_short.html' %}

{% block formulario %}

<h1> Vista en deltalle del producto</h1>

<h3> Producto: {{product.name}}</h3>
<h3> Detalles: {{product.description}}</h3>
<h3> Precio: {{product.price}}</h3>
<h3> Disponible: {{product.available}}</h3>
<h3> Opcion vegetariana: {{product.veggie_option}}</h3>
<h3><img src="{{ product.image.url }}" style="heigth: 1000px; width:500px;"></h3>
<div>
    <button>
        <a href="{% url 'lists-product' %}">Volver</a>
    </button>
</div>

{% endblock formulario %}
