{% extends 'structure_short.html' %}

{% block formulario %}
        
<div>
    <h1>Mi nombre es Sanabria Emmanuel Fernando y soy el creador de esta página web de Django dedicada a mi pasión por las cafeterías. Esta página web es el resultado de mi arduo trabajo y dedicación, así como del apoyo y la orientación de mi docente Mauricio Cuello, mi tutor Enzo Martin Zotti y todo el equipo de CoderHouse.

        La temática de esta página web es una cafetería, un lugar donde se puede disfrutar de una buena taza de café y pasar un rato agradable con amigos y familiares. Mi objetivo con esta página web es crear un espacio donde los amantes del café puedan encontrar información útil sobre las mejores cafeterías de la ciudad, así como compartir sus experiencias y opiniones sobre las mismas.
        
        Quiero agradecer a mi docente Mauricio Cuello, a mi tutor Enzo Martin Zotti y a todo el equipo de CoderHouse por su constante apoyo y orientación a lo largo del proceso de creación de esta página web. Sus conocimientos y experiencia han sido invaluables en la realización de este proyecto.
        
        También quiero agradecer a mis compañeros por su colaboración y ayuda en el proceso. Sus comentarios y aportes me han ayudado a mejorar el proyecto y a aprender aún más.
        
        Espero que esta página web sea un reflejo de todo lo que he aprendido en este curso y que sea de gran utilidad para aquellos que comparten mi pasión por las cafeterías.
        
        ¡Gracias por visitar mi página web!</h1>
</div>
{% endblock formulario %}
