{% load static %}
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="" class="logo">
                      <img src="{% static 'assets/images/klassy-logo.png' %}" align="klassy cafe html template">
                  </a>
                  <!-- ***** Logo End ***** -->

                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                      <li><a href="{% url 'index' %}" class="active">Home</a></li>
                      <li class="scroll-to-section"><a href="#about">About</a></li>
                  
                      <li class="scroll-to-section"><a href="#menu">Menu</a></li>
                      <li class="scroll-to-section"><a href="#chefs">Chefs</a></li> 
                      <li class="submenu">
                          <a href="javascript:;">Options</a>
                          <ul>
                              <li><a href="{% url 'create-product' %}">Agregar producto</a></li>
                              <li><a href="{% url 'lists-product' %}">Lista de productos</a></li>
                              <li><a href="#">Features Page 3</a></li>
                              <li><a href="#">Features Page 4</a></li>
                          </ul>
                      </li>
                      <li><a href="{% url 'contact_us' %}">Contact Us</a></li> 
                        {% if user.is_authenticated %}                           
                            <a class="btn btn-primary" href="{% url 'logout' %}"> Logout</a>
                            <li class="submenu">
                                <a href="javascript:;">{{user.username}}</a>
                                <ul>
                                    <li><a href="{% url 'edit-user' %}">Editar Perfil</a></li>
                                    <li><a href="#">Drop Down Page 2</a></li>
                                    <li><a href="#">Drop Down Page 3</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <a class="btn btn-primary" href="{% url 'login' %}"> Login</a>
                            <a class="btn btn-primary" href="{% url 'register' %}"> Register</a>
                        {% endif %}
                  </ul>        
                                       
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->